body,html {
    margin-top: 10%;
  
    text-align: center;
    background-color: rgb(98, 151, 177);
}

.hide {
    display: none;
    
}

.button {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}


